/* Panel button */
ytd-notification-topbar-button-renderer {
    display: none !important;
}

/* Notification bell */
yt-icon-button.ytd-subscription-notification-toggle-button-renderer {
    display: none !important;
}

/* Notification dot: the dot shown in the channels list when there's new content. */
#newness-dot {
    display: none !important;
}